 <!-- ורד נגאר 325523017 -->
 <!-- מוחמד ריאן 327640835 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav-center">
        <!-- links -->
        <ul class="links">
          <li>
            <a href="page">home</a>
          </li>
          <li>
            <a href="about">about</a>
          </li>
          <li>
            <a href="contact">contact us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- about us -->
    <div class="box">
      <h2>About Us</h2>

      <p class="info">
        We are Ward & Mohammed — two developers working on this project. Our
        goal is to create simple, clean and beautiful web pages using HTML, CSS
        and JavaScript.
      </p>

      <p class="info">
        This website is part of our learning journey, and more pages and
        features will be added soon!
      </p>
    </div>

    <footer class="main-footer">© ward & mohammed</footer>
  </body>
</html>

