<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav-center">
        <!-- links -->
        <ul class="links">
          <li>
            <a href="page">home</a>
          </li>
          <li>
            <a href="about">about</a>
          </li>
          <li>
            <a href="contact">contact us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- contact us -->
    <div class="box"><h2>Contact Us</div>

    <div class="info">
      <span class="label">Email:</span><br />
      ward&mohammed@gmail.com
    </div>

    <div class="info">
      <span class="label">Phone:</span><br />
      05000000000
    </div>
    <footer class="main-footer">© ward & mohammed</footer>
  </body>
</html>
