 <!-- ורד נגאר 325523017 -->
 <!-- מוחמד ריאן 327640835 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Component By Function</title>
    <link rel="stylesheet" href="../css/page.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav-center">
        <!-- links -->
        <ul class="links">
          <li>
            <a href="page">home</a>
          </li>
          <li>
            <a href="about">about</a>
          </li>
          <li>
            <a href="contact">contact us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- book -->
    <div class="book-container">
      <h2>Book Component By Function</h2>

      <img id="imgsize" src="../img/book.jpg" li alt="" />

      <h3 id="downh3">By Kyle Simpson</h3>

      <p id="des">
        Parts of the language that many JavaScript programmers simply avoid.
      </p>

      <p class="footer">© ward & mohammed</p>
    </div>
  </body>
</html>

